n8n_workflows/Agente_Aut_nomo___Carga_de_CSV.json
{
  "name": "Agente Autônomo – Carga de CSV",
  "nodes": [
    {
      "parameters": {
        "binaryPropertyName": "data0"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        360,
        -340
      ],
      "name": "Descompactar ZIP",
      "id": "07987a14-ded2-4be0-9dc8-8834b8f82829"
    },
    {
      "parameters": {
        "binaryPropertyName": "=file_0",
        "options": {
          "rawData": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        580,
        -380
      ],
      "name": "Extrair CSV Cabecalho",
      "id": "6eb2cf25-0563-4479-9393-b6abcb7eb098"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        -400
      ],
      "id": "a0c911f0-c4b5-48c4-8032-8d21b63490dc",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// Mapeamento manual dos nomes antigos para os novos em snake_case\nconst mapeamento = {\n  \"CHAVE DE ACESSO\": \"chave_acesso\",\n  \"MODELO\": \"modelo\",\n  \"SÉRIE\": \"serie\",\n  \"NÚMERO\": \"numero\",\n  \"NATUREZA DA OPERAÇÃO\": \"natureza_operacao\",\n  \"DATA EMISSÃO\": \"data_emissao\",\n  \"EVENTO MAIS RECENTE\": \"evento_mais_recente\",\n  \"DATA/HORA EVENTO MAIS RECENTE\": \"datahora_evento_mais_recente\",\n  \"CPF/CNPJ Emitente\": \"cpf_cnpj_emitente\",\n  \"RAZÃO SOCIAL EMITENTE\": \"razao_social_emitente\",\n  \"INSCRIÇÃO ESTADUAL EMITENTE\": \"inscricao_estadual_emitente\",\n  \"UF EMITENTE\": \"uf_emitente\",\n  \"MUNICÍPIO EMITENTE\": \"municipio_emitente\",\n  \"CNPJ DESTINATÁRIO\": \"cnpj_destinatario\",\n  \"NOME DESTINATÁRIO\": \"nome_destinatario\",\n  \"UF DESTINATÁRIO\": \"uf_destinatario\",\n  \"INDICADOR IE DESTINATÁRIO\": \"indicador_ie_destinatario\",\n  \"DESTINO DA OPERAÇÃO\": \"destino_operacao\",\n  \"CONSUMIDOR FINAL\": \"consumidor_final\",\n  \"PRESENÇA DO COMPRADOR\": \"presenca_comprador\",\n  \"NÚMERO PRODUTO\": \"numero_produto\",\n  \"DESCRIÇÃO DO PRODUTO/SERVIÇO\": \"descricao_produto\",\n  \"CÓDIGO NCM/SH\": \"codigo_ncm\",\n  \"NCM/SH (TIPO DE PRODUTO)\": \"tipo_produto_ncm\",\n  \"CFOP\": \"cfop\",\n  \"QUANTIDADE\": \"quantidade\",\n  \"UNIDADE\": \"unidade\",\n  \"VALOR UNITÁRIO\": \"valor_unitario\",\n  \"VALOR TOTAL\": \"valor_total\"\n};\n\n// Objeto de entrada\nconst entrada = $input.first().json;\nconst saida = {};\n\nfor (const chaveOriginal in entrada) {\n  const novaChave = mapeamento[chaveOriginal];\n  let valor = entrada[chaveOriginal];\n\n  if (!novaChave) continue; // ignora chaves não mapeadas\n\n  // Normalização de datas (se tiver espaço e parecer uma data)\n  if (typeof valor === 'string' && valor.match(/^\\\\d{4}-\\\\d{2}-\\\\d{2} \\\\d{2}:\\\\d{2}:\\\\d{2}$/)) {\n    valor = valor.replace(' ', 'T');\n  }\n\n  // Conversão para número se for campo de valor\n  if (novaChave === \"valor_unitario\" || novaChave === \"valor_total\") {\n    valor = parseFloat(valor);\n  }\n\n  saida[novaChave] = valor;\n}\n\nreturn [{ json: saida }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        160
      ],
      "id": "2efe3be2-a0d9-49e8-93ff-2dec479c542c",
      "name": "ParseDB ítens"
    },
    {
      "parameters": {
        "jsCode": "// Mapeamento manual dos nomes antigos para os novos em snake_case\nconst mapeamento = {\n  \"CHAVE DE ACESSO\": \"chave_acesso\",\n  \"MODELO\": \"modelo\",\n  \"SÉRIE\": \"serie\",\n  \"NÚMERO\": \"numero\",\n  \"NATUREZA DA OPERAÇÃO\": \"natureza_operacao\",\n  \"DATA EMISSÃO\": \"data_emissao\",\n  \"EVENTO MAIS RECENTE\": \"evento_mais_recente\",\n  \"DATA/HORA EVENTO MAIS RECENTE\": \"datahora_evento_mais_recente\",\n  \"CPF/CNPJ Emitente\": \"cpf_cnpj_emitente\",\n  \"RAZÃO SOCIAL EMITENTE\": \"razao_social_emitente\",\n  \"INSCRIÇÃO ESTADUAL EMITENTE\": \"inscricao_estadual_emitente\",\n  \"UF EMITENTE\": \"uf_emitente\",\n  \"MUNICÍPIO EMITENTE\": \"municipio_emitente\",\n  \"CNPJ DESTINATÁRIO\": \"cnpj_destinatario\",\n  \"NOME DESTINATÁRIO\": \"nome_destinatario\",\n  \"UF DESTINATÁRIO\": \"uf_destinatario\",\n  \"INDICADOR IE DESTINATÁRIO\": \"indicador_ie_destinatario\",\n  \"DESTINO DA OPERAÇÃO\": \"destino_operacao\",\n  \"CONSUMIDOR FINAL\": \"consumidor_final\",\n  \"PRESENÇA DO COMPRADOR\": \"presenca_comprador\",\n  \"VALOR NOTA FISCAL\": \"valor_nota_fiscal\"\n};\n\n// Objeto de entrada\nconst entrada = $input.first().json;\nconst saida = {};\n\nfor (const chaveOriginal in entrada) {\n  const novaChave = mapeamento[chaveOriginal];\n  let valor = entrada[chaveOriginal];\n\n  if (!novaChave) continue; // ignora chaves não mapeadas\n\n  // Normalização de datas (se tiver espaço e parecer uma data)\n  if (typeof valor === 'string' && valor.match(/^\\\\d{4}-\\\\d{2}-\\\\d{2} \\\\d{2}:\\\\d{2}:\\\\d{2}$/)) {\n    valor = valor.replace(' ', 'T');\n  }\n\n  // Conversão para número se for campo de valor\n  if (novaChave === \"valor_nota_fiscal\") {\n    valor = parseFloat(valor);\n  }\n\n  saida[novaChave] = valor;\n}\n\nreturn [{ json: saida }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -320
      ],
      "id": "5b1c4e86-fe82-41d3-b1e3-ad6df5afb6c1",
      "name": "ParseDB cabeçalho"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "nf_itens",
          "mode": "list",
          "cachedResultName": "nf_itens"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "chave_acesso",
            "numero_produto"
          ],
          "schema": [
            {
              "id": "chave_acesso",
              "displayName": "chave_acesso",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelo",
              "displayName": "modelo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "serie",
              "displayName": "serie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "natureza_operacao",
              "displayName": "natureza_operacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "data_emissao",
              "displayName": "data_emissao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "evento_mais_recente",
              "displayName": "evento_mais_recente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "datahora_evento_mais_recente",
              "displayName": "datahora_evento_mais_recente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cpf_cnpj_emitente",
              "displayName": "cpf_cnpj_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "razao_social_emitente",
              "displayName": "razao_social_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "inscricao_estadual_emitente",
              "displayName": "inscricao_estadual_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "uf_emitente",
              "displayName": "uf_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "municipio_emitente",
              "displayName": "municipio_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cnpj_destinatario",
              "displayName": "cnpj_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "nome_destinatario",
              "displayName": "nome_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "uf_destinatario",
              "displayName": "uf_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "indicador_ie_destinatario",
              "displayName": "indicador_ie_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "destino_operacao",
              "displayName": "destino_operacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "consumidor_final",
              "displayName": "consumidor_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "presenca_comprador",
              "displayName": "presenca_comprador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_produto",
              "displayName": "numero_produto",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "descricao_produto",
              "displayName": "descricao_produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "codigo_ncm",
              "displayName": "codigo_ncm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_produto_ncm",
              "displayName": "tipo_produto_ncm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cfop",
              "displayName": "cfop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "quantidade",
              "displayName": "quantidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "valor_unitario",
              "displayName": "valor_unitario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1260,
        160
      ],
      "id": "dda0b9ec-7c11-4af3-8355-252748c25a2b",
      "name": "Postgres - nf_itens",
      "credentials": {
        "postgres": {
          "id": "KfzLCOT4SQxLpNCr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "nf_cabecalho",
          "mode": "list",
          "cachedResultName": "nf_cabecalho"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "valor_nota_fiscal": 0
          },
          "matchingColumns": [
            "chave_acesso"
          ],
          "schema": [
            {
              "id": "chave_acesso",
              "displayName": "chave_acesso",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelo",
              "displayName": "modelo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "serie",
              "displayName": "serie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "natureza_operacao",
              "displayName": "natureza_operacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_emissao",
              "displayName": "data_emissao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "evento_mais_recente",
              "displayName": "evento_mais_recente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "datahora_evento_mais_recente",
              "displayName": "datahora_evento_mais_recente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "cpf_cnpj_emitente",
              "displayName": "cpf_cnpj_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "razao_social_emitente",
              "displayName": "razao_social_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "inscricao_estadual_emitente",
              "displayName": "inscricao_estadual_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "uf_emitente",
              "displayName": "uf_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "municipio_emitente",
              "displayName": "municipio_emitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cnpj_destinatario",
              "displayName": "cnpj_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nome_destinatario",
              "displayName": "nome_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "uf_destinatario",
              "displayName": "uf_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "indicador_ie_destinatario",
              "displayName": "indicador_ie_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "destino_operacao",
              "displayName": "destino_operacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "consumidor_final",
              "displayName": "consumidor_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "presenca_comprador",
              "displayName": "presenca_comprador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "valor_nota_fiscal",
              "displayName": "valor_nota_fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1180,
        -300
      ],
      "id": "1c81b9be-0198-49f9-a382-c6ec5f80ff62",
      "name": "Postgres - nf_cabecalho",
      "credentials": {
        "postgres": {
          "id": "KfzLCOT4SQxLpNCr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "=file_1",
        "options": {
          "rawData": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        580,
        -40
      ],
      "name": "Extrair CSV Cabecalho1",
      "id": "3aa47bad-4cce-4563-947a-ed9c1320a2e1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        -20
      ],
      "id": "7d87b3bd-3532-450e-835a-062b45f0db29",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        120
      ],
      "id": "990bfbf5-d6a7-4a91-b3ba-2188f46f609a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        -520
      ],
      "id": "fa7c7ee6-167e-4912-921e-c31701df6d90",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## Carga do CSV",
        "height": 980,
        "width": 1460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -580
      ],
      "id": "dbf84279-071d-4f38-94dc-c3e484a9ef35",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -340
      ],
      "id": "a99efa6b-bcd7-4194-abd9-3591ce36be97",
      "name": "When chat message received",
      "webhookId": "ee797144-3c88-4b9f-8eab-5425cc739e62",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bde5b7b1-459f-4dee-85ea-a429dc4cf35d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        -120
      ],
      "id": "e3929cda-261a-490b-8745-d4274e2fb68d",
      "name": "Webhook",
      "webhookId": "bde5b7b1-459f-4dee-85ea-a429dc4cf35d"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.file",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        140,
        -120
      ],
      "id": "c5913c3f-ecdf-4d86-92b9-228e6c7b12cd",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Descompactar ZIP": {
      "main": [
        [
          {
            "node": "Extrair CSV Cabecalho1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extrair CSV Cabecalho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair CSV Cabecalho": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ParseDB cabeçalho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseDB ítens": {
      "main": [
        [
          {
            "node": "Postgres - nf_itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseDB cabeçalho": {
      "main": [
        [
          {
            "node": "Postgres - nf_cabecalho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - nf_itens": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - nf_cabecalho": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair CSV Cabecalho1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ParseDB ítens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Descompactar ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Descompactar ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4338ba1-dad4-4b0e-86cb-aab009ae111b",
  "meta": {
    "instanceId": "86d9c473b1101dc6735b2f2b2faaff0015f7e2b1b3445cc40970cf4049ae8e50"
  },
  "id": "PBHjzVvaq2JzBF4I",
  "tags": []
}